<form (ngSubmit)="onSubmit()">
  <div class="form-floating">
    <input type="text" class="form-control" placeholder="your login name" 
           [(ngModel)]="auth.name" name="name"
    >
    <label for="floatingInput">Login name</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" placeholder="Password"
           [(ngModel)]="auth.password" name="password"
    >
    <label for="floatingPassword">Password</label>
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
</form>
